<footer class="container">
    <div class="project-info">
        <span class="project-title">Let's Work Together</span>
        <p class="project-discuss">Have a project you'd like to discuss?</p>
    </div>
    <div class="contact-info">
        <h3 class="contact-title">Contact</h3>
        <p class="address-info"><i class="fa fa-home" aria-hidden="true"></i> Pithampur, Sector No.3, Indore,<br>Madhya Pradesh, India</p>
        <p class="mobile-number"><i class="fa fa-mobile" aria-hidden="true"></i> +91-7697767333</p>
        <p class="email-info"><i class="fa fa-envelope" aria-hidden="true"></i> sunilpanchal123.sp@gmail.com</p>
    </div>
    <div class="social-info">
        <h3 class="social-title">Social</h3>
        <p class="linkedin"><i class="fa fa-linkedin distance-icon"></i> Linkedin</p>
        <p class="instagram"><i class="fa fa-instagram distance-icon"></i> Instagram</p>
        <p class="facebook"><i class="fa fa-facebook distance-icon"></i> Facebook</p>
    </div>
</footer>