<footer class="container">
    <div class="project-info">
        <h1 class="project-title">Let's Work Together</h1>
        <p class="project-discuss">Have a project you'd like to discuss?</p>
    </div>
    <div class="contact-info">
        <h3 class="contact-title">Contact</h3>
        <p class="address-info">Pithampur, Sector No.3, Indore, Madhya Pradesh, India</p>
        <p class="mobile-number">+91-7697767333</p>
        <h5 class="email-info">Email us</h5>
    </div>
    <div class="social-info">
        <h3 class="social-title">Social</h3>
        <p class="linkedin">Linkedin</p>
        <p class="instagram">Instagram</p>
        <p class="facebook">Facebook</p>
    </div>
</footer>