<div class="bottomBar">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12 bottomSideSpace">
        <p class="bottomBarText">
            <span style="font-size:'2.5rem';font-weight:'700'">Let's Work Together</span><br/>
            <span style="font-size:'1.875rem';font-weight:'500'">Have a project you'd like to discuss?</span>
        </p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 topManage">
            <h3 class="bottomBarTextH3">CONTACT</h3>
            <p class="bottomBarText">
                Pithampur, Sector No.3, Indore,<br/>Madhya Pradesh, India
            </p>
            <p class="bottomBarText">
                M:+917697767333 <br/>
            </p>
            <p class="bottomBarText">
                <a href="" class="bottomEmail" target="_blank" rel="noopener noreferrer">Email us</a>
            </p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-12 topManage">
            <h3 class="bottomBarTextH3">Social</h3>
            <p class="bottomBarText">
                <i class="fa fa-instagram distance-icon"></i><a href="" class="bottomEmail"> Instagram</a><br/>
                <i class="fa fa-facebook distance-icon"></i><a href="" class="bottomEmail"> Facebook</a><br/>
                <i class="fa fa-linkedin distance-icon"></i><a href="" class="bottomEmail"> Linkedin</a><br/>
            </p>
        </div>
    </div>
    <div class="row bottomLast">
        <div class="col-lg-12 textCenter">
            <p class="copyright">
                © COPYRIGHT 2023 BY SUNILPANCHAL.COM
            </p>
        </div>
    </div>
</div>